<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/main.css"/>
  <link rel="stylesheet" href="/static/markdown.css"/>
</head>

<body>
  <div class="main-container">
    <div class="main-nav"><%- nav %></div>
    <div class="markdown-body"><%- content %></div>
  </div>
</body>

</html>