<html>

<head>
  <script src="./public/static/common.js"></script>
  <script src="./public/static/decrypt.js"></script>
</head>

<body>
  <h1>Hello World!</h1>
</body>
<script>
  void function () {
    var sourceScript = ''
    function load() { }
  }()
</script>

</html>